/*-----------------------------------------------------------------------------
	スタイル：:tj100f01.css
--------------------------------------------------------------------------------*/
/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 取漏れ/欠番 ---*/
.slt-torimore {
	width: 80px;
}

.str-search-01 .w-type-01 {
	width: 100px;
}
.str-search-01 .w-type-02 {
	width: 162px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
	position: relative;
	width: 35px;
}
/* ﾌｪｲｽNo. */
.str-result-01 .col2 {
	width: 70px;
}
/* 棚段 */
.str-result-01 .col3 {
	width: 54px;
}

/*--- セル(No.) ---*/
.detail_color1 {
	background: #ffffe0;
}
/*--- NO列明細表示対応---*/
.js-active div:first-child {
    background: none;
}
