/*-----------------------------------------------------------------------------
	スタイル：:tf040f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
.str-search-01 .w-type-01 {
  width: 100px;
}
.str-search-01 .w-type-02 {
  width: 170px;
}


/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/*--- 摘要 ---*/
.str-result-item-01 .inpTekiyo {
	width: 157px;
	margin-top: 4px;
}

/*--- No ---*/
.str-result-01 .col1 {
	position: relative;
	width: 28px;
	border-left: 1px solid #cccccc;
}
/*--- 管理No ---*/
.str-result-01 .col2 {
	width: 46px;
}
/*--- 元No ---*/
.str-result-01 .col3 {
	width: 64px;
}
/*--- 日付 ---*/
.str-result-01 .col4 {
	width: 108px;
}
/*--- 科目 ---*/
.str-result-01 .col5 {
	width: 349px;
}
/*--- 入金 ---*/
.str-result-01 .col6 {
	width: 90px;
}
/*--- 出金 ---*/
.str-result-01 .col7 {
	width: 90px;
}
/*--- 摘要 ---*/
.str-result-01 .col8 {
	width: 177px;
}
/*--- 振替店舗 ---*/
.str-result-01 .col9 {
	width: 225px;
}

