<?xml version="1.0" encoding="utf-8" ?>
<logsettings>
	<logsetting>
		<filename>D:\xebio\Log\base.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>5</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% LINE: %LINE% [Thread : %THREADID%] : %MESSAGE%</logformat>
	</logsetting>
	<logsetting name="Synchro">
		<filename>D:\xebio\Log\synchro.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>5</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% LINE: %LINE% [Thread : %THREADID%] : %MESSAGE%</logformat>
	</logsetting>
	<logsetting name="Cert">
		<filename>D:\xebio\Log\cert.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>5</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% LINE: %LINE% [Thread : %THREADID%] : %MESSAGE%</logformat>
	</logsetting>
	<logsetting name="initSetup">
		<filename>D:\xebio\Log\initSetupLogger.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>3</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% LINE: %LINE% [Thread : %THREADID%] : %MESSAGE%</logformat>
	</logsetting>
	<logsetting name="Event">
		<filename>D:\xebio\Log\event.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>5</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% LINE: %LINE% [Thread : %THREADID%] : %MESSAGE%</logformat>
	</logsetting>
	<logsetting name="Service">
		<filename>D:\xebio\Log\service.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>5</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% LINE: %LINE% [Thread : %THREADID%] : %MESSAGE%</logformat>
	</logsetting>
</logsettings>