<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="securitySettings" type="Com.Fujitsu.SmartBase.Base.Common.Config.SettingKeyValueSection,Com.Fujitsu.SmartBase.Base.Common"></section>
		<section name="inputValidationSettings" type="Com.Fujitsu.SmartBase.Base.Common.Config.SettingKeyValueSection,Com.Fujitsu.SmartBase.Base.Common"></section>
		<section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"></section>
		<section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false"></section>
	</configSections>
	<appSettings>
		<!-- 使用するデータベース設定 -->
		<add key="UseDBSetting" value="DbConnect"></add>
		<!-- デフォルト言語 -->
		<add key="DefaultLanguage" value="ja-JP"></add>
		<!-- ASPコード -->
		<add key="AspCode" value=""></add>
		<!-- 認証タイムアウト時間（分） -->
		<add key="CertValidDuration" value="30"></add>
		<!-- 認証のタイムアウトをチェックする間隔（秒） -->
		<add key="CertCheckTimerDuration" value="60"></add>
		<!-- キャッシュの有効期間（分） -->
		<add key="CacheValidDuration" value="30"></add>

		<!-- 暗号キー -->
		<add key="CryptKey" value="xebio"></add>
		<!-- GLOVIA smart SOA連携 ON or OFF -->
		<add key="SynchroMode" value="OFF"></add>
		<!-- GLOVIA smart SOA の参照先 -->
		<add key="ReferenceWebService" value="http://localhost:8082/DataMgr/DataMgr/basic"></add>
		<!-- 利用者マスタの連携方向 IN or OUT -->
		<add key="LoginUserSynchroBent" value="OUT"></add>
		<!-- GLOVIA smart SOA 同期間隔（分） -->
		<add key="SynchroBatDuration" value="1"></add>
		<!-- 多重ログイン禁止 true or false -->
		<add key="MutexLogin" value="true"></add>
		<!-- ログインログの削除時間 (ex. 18:00:00)-->
		<add key="LoginLogDeleteTime" value="20:00:00"></add>
		<!-- ログインログを過去何日以前を削除するか指定（日） -->
		<add key="LoginLogDeletePeriod" value="30"></add>
		<!-- 内部統制用ログ出力するか指定 -->
		<add key="DataLogOutput" value="false"></add>
		<!-- DNSからコンピュータ名を取得するか true or false -->
		<add key="EnableHostNameLog" value="false"></add>
		<!-- クライアント設定 -->
		<!-- クライアントのデフォルト言語 -->
		<add key="ClientDefaultLanguage" value="ja-JP"></add>
		<!-- クライアントのキャッシュ有効期限（日） -->
		<add key="ClientCacheExpires" value="7"></add>


	</appSettings>
	<securitySettings>
		<settings>
			<add key="LoginFailureAllowCount" value="10" />
			<add key="PwdChangePromoteDuration" value="7" />
			<add key="PwdValidDuration" value="180" />
			<add key="PwdChangeLimitDuration" value="2" />
			<add key="PwdLogNumber" value="3" />
			<add key="PwdMinLength" value="6" />
			<add key="PwdMinCharType" value="2" />
			<add key="PwdUpperType" value="true" />
			<add key="NeedTemporaryPwdUpdate" value="true" />
		</settings>
	</securitySettings>
	<inputValidationSettings>
		<settings>
			<add key="LoginIdMaxLength" value="10"></add>
			<add key="PwdMaxLength" value="8"></add>
			<add key="PwdRegExp" value="^[0-9a-zA-Z]*$"></add>
		</settings>
	</inputValidationSettings>
	<!-- ＤＢ設定 -->
	<connectionStrings>
		<!--TODO yusy del-->
		<!--<add name="DbConnect" connectionString="Data Source=SYSTEM;User Id = base;Password=base;" providerName="System.Data.OracleClient" />-->
		<add name="DbConnect" connectionString="Data Source=172.24.129.158:1521/hbodb;User Id=wstore;Password=wstoreadmin;" providerName="System.Data.OracleClient" />
	</connectionStrings>
</configuration>
