/*-----------------------------------------------------------------------------
	スタイル：:tk040f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */

.str-search-01 .w-type-01 {
  width: 90px;
}
.str-search-01 .w-type-02 {
  width: 520px;
}
.str-search-01 .w-type-03 {
  width: 100px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* 行 */
.str-result-01 .col1 {
  position: relative;
  width: 28px;
}
/* 部門・品種 */
.str-result-01 .col2 {
  width: 172px;
}
/* ブランド */
.str-result-01 .col3 {
  width: 190px;
}
/* 自社品番 */
.str-result-01 .col4 {
  width: 60px;
}
/* メーカー品番・商品名 */
.str-result-01 .col5 {
  width: 356px;
}
/* 販売完了日 */
.str-result-01 .col6 {
  width: 75px;
}
/* 色・ｻｲｽﾞ */
.str-result-01 .col7 {
  width: 75px;
}
/* ｽｷｬﾝｺｰﾄﾞ */
.str-result-01 .col8 {
  width: 98px;
}
/* ﾌｪｲｽNo. */
.str-result-01 .col9 {
  width: 50px;
}
/* 棚段 */
.str-result-01 .col10 {
  width: 28px;
}
/* 数量 */
.str-result-01 .col11 {
  width: 35px;
}
