/*-----------------------------------------------------------------------------
	スタイル：:tc010f01.css
--------------------------------------------------------------------------------*/

/*--- 伝票状態 ---*/
.slt-denpyou {
	width: 80px;
}

.str-search-01 .w-type-01 {
	width: 100px;
}
.str-search-01 .w-type-02 {
	width: 130px;
}
.str-search-01 .w-type-03 {
	width: 300px;
}