/*-----------------------------------------------------------------------------
	スタイル：:tm040f01.css
--------------------------------------------------------------------------------*/

/* ---------------------------------------------------------
	共通（base.cssを上書き）
--------------------------------------------------------- */
#wrap {
	width: 800px;
}

/*--------------------------------------------------------- 
	ヘッダ領域（base.cssを上書き）
--------------------------------------------------------- */
#header {
	width: 800px;
}

#menu-btn {
	display: none;
}

#header .inner {
	width: 651px;
}

.inner .admin-name {
	display: none;
}

.inner .tenpo-keitai {
	display: none;
}

/*--------------------------------------------------------- 
	検索条件領域(入力時)（base.cssを上書き）
--------------------------------------------------------- */
.str-form-02 {
	width: 560px;
}

/*--------------------------------------------------------- 
    一覧領域
--------------------------------------------------------- */
.str-result-01 .str-result-item-01 {
  width: 758px;
}

/*--------------------------------------------------------- 
	検索条件領域					カラー選択画面
--------------------------------------------------------- */
.str-search-01 .w-type-01 {
  width: 110px;
}

.str-search-01 .w-type-02 {
  width: 160px;
}

.str-search-01 .w-type-03 {
  width: 130px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  width: 70px;
}

/* 色 */
.str-result-01 .col2 {
  width: 678px;
}
