/*-----------------------------------------------------------------------------
	スタイル：:tb010f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 確定状態 ---*/
.slt-kakutei {
	width: 100px;
}

.str-search-01 .w-type-01 {
  width: 90px;
}
.str-search-01 .w-type-02 {
  width: 205px;
}
.str-search-01 .w-type-03 {
  width: 280px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  position: relative;
  width: 28px;
}
/* 部門 */
.str-result-01 .col2 {
  width: 170px;
}
/* 仕入先 */
.str-result-01 .col3 {
  width: 155px;
}
/* 入荷予定日 */
.str-result-01 .col4 {
  width: 75px;
}
/* 伝票 */
.str-result-01 .col5 {
  width: 55px;
}
/* 元伝票 */
.str-result-01 .col6 {
  width: 55px;
}
/* 納品数 */
.str-result-01 .col7 {
  width: 85px;
}
/* 検数 */
.str-result-01 .col8 {
  width: 85px;
}
/* 原価金額 */
.str-result-01 .col9 {
  width: 85px;
}
/* 仕入確定日 */
.str-result-01 .col10 {
  width: 75px;
}
/* 伝票状態 */
.str-result-01 .col11 {
  width: 70px;
}
/* 処理 */
.str-result-01 .col12 {
  width: 65px;
}
/* 処理日 */
.str-result-01 .col13 {
  width: 75px;
}
/* 処理時間 */
.str-result-01 .col14 {
  width: 74px;
}

