/*-----------------------------------------------------------------------------
	スタイル：:tb010f02.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
.str-search-02 .w-type-01 {
  width: 100px;
}
.str-search-02 .w-type-02 {
  width: 110px;
}
.str-search-02 .w-type-03 {
  width: 110px;
}
.str-search-02 .w-type-04 {
  width: 210px;
}
.str-search-02 .w-type-05 {
  width: 140px;
}



/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/*--- No ---*/
.str-result-01 .col1 {
	position: relative;
	width: 28px;
	border-left: 1px solid #cccccc;
}
/*--- 品種／ブランド ---*/
.str-result-01 .col2 {
	width: 165px;
}
/*--- 自社品番 ---*/
.str-result-01 .col3 {
  width: 65px;
}
/*--- メーカー品番／商品名 ---*/
.str-result-01 .col4 {
  width: 355px;
}
/*--- 色／サイズ ---*/
.str-result-01 .col5 {
  width: 69px;
}
/*--- スキャンコード ---*/
.str-result-01 .col6 {
  width: 100px;
}
/*--- 納品数 ---*/
.str-result-01 .col7 {
  width: 80px;
}
/*--- 検数 ---*/
.str-result-01 .col8 {
  width: 80px;
}
/*--- 原単価 ---*/
.str-result-01 .col9 {
  width: 80px;
}
/*--- 原価金額 ---*/
.str-result-01 .col10 {
  width: 80px;
}
/*--- 客注 ---*/
.str-result-01 .col11 {
  width: 30px;
}
/*--- 値書 ---*/
.str-result-01 .col12 {
  width: 30px;
}
