/*-----------------------------------------------------------------------------
	スタイル：:td040f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 返品理由 ---*/
.slt-henpinriyu {
	width: 100px;
}

.str-search-01 .w-type-01 {
	width: 85px;
}
.str-search-01 .w-type-02 {
	width: 258px;
}
.str-search-01 .w-type-03 {
	width: 262px;
}
.str-search-01 .w-type-04 {
	width: 71px;
}


/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
	position: relative;
	width: 34px;
}
/* 部門 仕入先 */
.str-result-01 .col2 {
	width: 140px;
}
/* 返品確定日 登録日 */
.str-result-01 .col3 {
	width: 46px;
}
/* 伝票番号 管理番号 */
.str-result-01 .col4 {
	width: 52px;
}
/* 指示番号 品種 */
.str-result-01 .col5 {
	width: 83px;
}
/* 入力担当者 ブランド */
.str-result-01 .col7 {
	width: 138px;
}
/* 返品理由 自社品番 */
.str-result-01 .col8 {
	width: 60px;
}
/* メーカー品番 商品名 */
.str-result-01 .col9 {
	width: 349px;
}
/* 色 サイズ */
.str-result-01 .col10 {
	width: 72px;
}
/* スキャンコード */
.str-result-01 .col11 {
	width: 94px;
}
/* 数量 確定時間 */
.str-result-01 .col12 {
	width: 68px;
}
/* 回数 */
.str-result-01 .col13 {
	width: 26px;
}
