/*-----------------------------------------------------------------------------
	スタイル：:tj160f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 重複有無 ---*/
.slt-jufuku {
	width: 70px;
}

.str-search-01 .w-type-01 {
  width: 100px;
}
.str-search-01 .w-type-02 {
  width: 400px;
}


/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  position: relative;
  width: 60px;
}
/* ﾌｪｲｽNo. */
.str-result-01 .col2 {
  width: 100px;
}
/* 棚段 */
.str-result-01 .col3 {
  width: 80px;
}
/* 重複 */
.str-result-01 .col4 {
  width: 80px;
}
/* 担当者 */
.str-result-01 .col5 {
  width: 240px;
}
/* メモ */
.str-result-01 .col6 {
  width: 632px;
}


