/*-----------------------------------------------------------------------------
	スタイル：:te020f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
/*--- 出荷理由 ---*/
.slt-shukkaRiyu {
	width: 100px;
}

.str-search-02 .w-type-01 {
  width: 90px;
}
.str-search-02 .w-type-02 {
  width: 250px;
}
.str-search-02 .w-type-03 {
  width: 250px;
}



/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
.str-result-01 .col1 {
	position: relative;
	width: 36px;
	border-left: 1px solid #cccccc;
}

/* 部門／品種 */
.str-result-01 .col2 {
	width: 170px;
}

/* ブランド */
.str-result-01 .col3 {
  width: 140px;
}

/* 自社品番 */
.str-result-01 .col4 {
  width: 61px;
}

/* メーカー品番／商品名 */
.str-result-01 .col5 {
  width: 353px;
}

/* 色／サイズ */
.str-result-01 .col6 {
  width: 70px;
}

/* スキャンコード */
.str-result-01 .col7 {
  width: 121px;
}

/* 仕入数量 */
.str-result-01 .col8 {
	width: 80px;
}

/* 原単価 */
.str-result-01 .col9 {
  width: 61px;
}

/* 原価金額 */
.str-result-01 .col10 {
  width: 80px;
}

