/*-----------------------------------------------------------------------------
	スタイル：:tl030f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 申請元 ---*/
.slt-sinseimoto {
	width: 70px;
}

.str-search-01 .w-type-01 {
	width: 100px;
}
.str-search-01 .w-type-02 {
	width: 280px;
}
.str-search-01 .w-type-03 {
	width: 500px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
	position: relative;
	width: 40px;
}
/* 申請元 */
.str-result-01 .col2 {
	width: 100px;
}
/* 申請担当者 */
.str-result-01 .col3 {
	width: 160px;
}
/* 指示No */
.str-result-01 .col4 {
	width: 147px;
}
/* 部門 */
.str-result-01 .col5 {
	width: 200px;
}
/* 作業開始日 */
.str-result-01 .col6 {
	width: 105px;
}
/* 開始日 */
.str-result-01 .col7 {
	width: 105px;
}
/* 売変理由 */
.str-result-01 .col8 {
	width: 105px;
}
/* 品番数 */
.str-result-01 .col9 {
	width: 105px;
}
/* 在庫点数 */
.str-result-01 .col10 {
	width: 105px;
}
