/*-----------------------------------------------------------------------------
	スタイル：:tj020f01.css
--------------------------------------------------------------------------------*/

.str-search-01 .w-type-01 {
	width: 30px;
}
.str-search-01 .w-type-02 {
	width: 180px;
}
.str-search-01 .w-type-03 {
	width: 200px;
}
.str-search-01 .h-type-01 {
	height: 80px;
}

