/*-----------------------------------------------------------------------------
	スタイル：:tj050f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */

.str-search-01 .w-type-01 {
	width: 10px;
}
.str-search-01 .w-type-02 {
	width: 115px;
}
.str-search-01 .w-type-03 {
	width: 100px;
}
.str-search-01 .w-type-04 {
	width: 90px;
}
.str-search-01 .w-type-05 {
	width: 45px;
}
.str-search-01 .h-type-01 {
	height: 120px;
}


