/*-----------------------------------------------------------------------------
	スタイル：:tf021f02.css
--------------------------------------------------------------------------------*/


/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
/*--- 申請理由(リスト) ---*/
.str-search-02 .slt-sinseiRiyu {
	width: 150px;
}
/*--- 申請理由(テキスト) ---*/
.str-search-02 .inpSinseiRiyu {
	width: 185px;
}
.str-search-02 .w-type-01 {
	width: 100px;
}
.str-search-02 .w-type-02 {
	width: 230px;
}
.str-search-02 .w-type-03 {
	width: 160px;
}
.str-search-02 .w-type-04 {
	width: 240px;
}



/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/*--- No ---*/
.str-result-01 .col1 {
	position: relative;
	width: 26px;
	border-left: 1px solid #cccccc;
}
/*--- 部門／品種 ---*/
.str-result-01 .col2 {
	width: 167px;
}
/*--- ブランド／自社品番 ---*/
.str-result-01 .col3 {
	width: 192px;
}
/*--- メーカー品番／商品名 ---*/
.str-result-01 .col4 {
	width: 355px;
}
/*--- 色／サイズ ---*/
.str-result-01 .col5 {
	width: 72px;
}
/*--- スキャンコード ---*/
.str-result-01 .col6 {
	width: 126px;
}
/*--- 数量 ---*/
.str-result-01 .col7 {
	width: 52px;
}
/*--- 原単価／現売価 ---*/
.str-result-01 .col8 {
	width: 76px;
}
/*--- 原価金額／売価金額 ---*/
.str-result-01 .col9 {
	width: 111px;
}

