/*-----------------------------------------------------------------------------
	スタイル：:tg040f01.css
--------------------------------------------------------------------------------*/


/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 返品理由 ---*/
.slt-henpinriyu {
	width: 100px;
}
/*--- ストックNo ---*/
.inpStockNo {
	width: 106px;
}
.str-search-01 .w-type-01 {
  width: 90px;
}
.str-search-01 .w-type-02 {
  width: 300px;
}
.str-search-01 .w-type-03 {
  width: 185px;
}
.str-search-01 .w-type-04 {
  width: 100px;
}


/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  position: relative;
  width: 40px;
}
/* 日付 */
.str-result-01 .col2 {
  width: 200px;
}
/* 時間 */
.str-result-01 .col3 {
  width: 200px;
}
/* 担当者 */
.str-result-01 .col4 {
  width: 320px;
}
/* ストックNo */
.str-result-01 .col5 {
  width: 280px;
}
/* 数量 */
.str-result-01 .col6 {
  width: 152px;
}

