/*-----------------------------------------------------------------------------
	スタイル：:ta010f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 区分 ---*/
.slt-kbn {
	width: 140px;
}
/*--- 理由 ---*/
.slt-riyu {
	width: 140px;
}
/*--- 状態 ---*/
.slt-jotai {
	width: 80px;
}
/*--- 送信状態 ---*/
.slt-sosinjotai {
	width: 80px;
}


.str-search-01 .w-type-01 {
	width: 90px;
}
.str-search-01 .w-type-02 {
	width: 180px;
}
.str-search-01 .w-type-03 {
	width: 305px;
}



/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* 行 */
.str-result-01 .col1 {
	position: relative;
	width: 56px;
}
/* 区分 */
.str-result-01 .col2 {
	width: 114px;
}
/* 管理No. */
.str-result-01 .col3 {
	width: 90px;
}
/* 発注日 */
.str-result-01 .col4 {
	width: 130px;
}
/* 数量 */
.str-result-01 .col5 {
	width: 118px;
}
/* 原価金額 */
.str-result-01 .col6 {
	width: 118px;
}
/* 担当者 */
.str-result-01 .col7 {
	width: 156px;
}
/* 依頼理由 */
.str-result-01 .col8 {
	width: 164px;
}
/* 状態 */
.str-result-01 .col9 {
	width: 92px;
}
/* 申請日 */
.str-result-01 .col10 {
	width: 134px;
}
