/*-----------------------------------------------------------------------------
	スタイル：:ti040f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
.margin-zero {
    margin-right: 2px;
}
.str-search-01 .w-type-01 {
	width: 124px;
}
.str-search-01 .w-type-02 {
	width: 240px;
}
.str-search-01 .w-type-03 {
	width: 190px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* 行 */
.str-result-01 .col1 {
	position: relative;
	width: 50px;
}
/* マシン名 */
.str-result-01 .col2 {
	width: 130px;
}
/* マシン名 */
.str-result-01 .col3 {
	width: 210px;
}
/* プリンタID */
.str-result-01 .col4 {
	width: 190px;
}
/* PC備考 */
.str-result-01 .col5 {
	width: 616px;
}
