/*-----------------------------------------------------------------------------
	スタイル：:tj030f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 店舗/業者 ---*/
.slt-tengyo {
	width: 70px;
}
/*--- 送信状態 ---*/
.slt-sousin {
	width: 85px;
}

.str-search-01 .w-type-01 {
  width: 90px;

}
.str-search-01 .w-type-02 {
  width: 262px;
}
.str-search-01 .w-type-03 {
	width: 262px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  position: relative;
  width: 50px;
}
/* ﾌｪｲｽNo */
.str-result-01 .col2 {
  width: 150px;
}
/* 棚段 */
.str-result-01 .col3 {
  width: 100px;
}
/* 回数 */
.str-result-01 .col4 {
  width: 100px;
}
/* ｽｷｬﾝ数量 */
.str-result-01 .col5 {
	width: 180px;
}
/* 入力担当者 */
.str-result-01 .col6 {
  width: 200px;
}
/* 入力日 */
.str-result-01 .col7 {
  width: 150px;
}
/* 送信日 */
.str-result-01 .col8 {
  width: 150px;
}
/* 業者 */
.str-result-01 .col9 {
  width: 97px;
}
