/*-----------------------------------------------------------------------------
	スタイル：:tj030f02.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
.str-search-02 .w-type-01 {
  width: 110px;
}
.str-search-02 .w-type-02 {
  width: 240px;
}
.str-search-02 .w-type-03 {
  width: 150px;
}


/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/*--- No ---*/
.str-result-01 .col1 {
	position: relative;
	width: 30px;
	border-left: 1px solid #cccccc;
}
/*--- 部門 ---*/
.str-result-01 .col2 {
	width: 123px;
}
/*--- 品種 ---*/
.str-result-01 .col3 {
	width: 96px;
}
/*--- ブランド ---*/
.str-result-01 .col4 {
	width: 120px;
}
/*--- 自社品番 ---*/
.str-result-01 .col5 {
	width: 65px;
}
/*--- メーカー品番 ---*/
.str-result-01 .col6 {
	width: 262px;
}
/*--- 商品名 ---*/
.str-result-01 .col7 {
	width: 192px;
}
/*--- 色 ---*/
.str-result-01 .col8 {
	width: 72px;
}
/*--- サイズ ---*/
.str-result-01 .col9 {
	width: 48px;
}
/*--- スキャンコード ---*/
.str-result-01 .col10 {
	width: 100px;
}
/*--- ｽｷｬﾝ数量 ---*/
.str-result-01 .col11 {
	width: 59px;
}
