/*-----------------------------------------------------------------------------
	スタイル：:te050f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
.str-search-01 .w-type-01 {
  width: 85px;
}
.str-search-01 .w-type-02 {
  width: 220px;
}
.str-search-01 .w-type-03 {
  width: 210px;
}



/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/*--- 行 ---*/
.str-result-01 .col1 {
	position: relative;
	width: 28px;
	border-left: 1px solid #cccccc;
}
/* 部門／品種 */
.str-result-01 .col2 {
	width: 169px;
}
/* ブランド */
.str-result-01 .col3 {
	width: 138px;
}
/* 自社品番 */
.str-result-01 .col4 {
	width: 99px;
}
/* メーカー品番／商品名 */
.str-result-01 .col5 {
	width: 350px;
}
/* 色 */
.str-result-01 .col6 {
	width: 142px;
}
/* 防止期限 */
.str-result-01 .col7 {
	width: 120px;
}

/* 登録日付 */
.str-result-01 .col8 {
	width: 73px;
}

/* 登録区分 */
.str-result-01 .col9 {
	width: 58px;
}
