/*-----------------------------------------------------------------------------
	スタイル：:tf070f01.css
--------------------------------------------------------------------------------*/
/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 承認 ---*/
.slt-syonin {
	width: 80px;
}

.str-search-01 .w-type-01 {
  width: 100px;
}
.str-search-01 .w-type-02 {
  width: 320px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  position: relative;
  width: 28px;
}
/* 管理番号 */
.str-result-01 .col2 {
  width: 100px;
}
/* 事故発生日 */
.str-result-01 .col3 {
  width: 100px;
}
/* 報告日 */
.str-result-01 .col4 {
  width: 100px;
}
/* 報告者名 */
.str-result-01 .col5 {
  width: 160px;
}
/* 店長名 */
.str-result-01 .col6 {
  width: 160px;
}
/* 警察届出日 */
.str-result-01 .col7 {
  width: 100px;
}
/* 届出警察署名 */
.str-result-01 .col8 {
  width: 270px;
}
/* 受理番号 */
.str-result-01 .col9 {
  width: 159px;
}

.str-result-01 .cell {
  display: block;
  float: left;
}
