/*-----------------------------------------------------------------------------
	スタイル：:ti030f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */

.str-search-01 .w-type-01 {
	width: 116px;
}
.str-search-01 .w-type-02 {
	width: 140px;
}
.str-search-01 .w-type-03 {
	width: 200px;
}

.slt-kbn {
	width: 88px;
}