/*-----------------------------------------------------------------------------
	スタイル：:tm050f01.css
--------------------------------------------------------------------------------*/

/* ---------------------------------------------------------
	共通（base.cssを上書き）
--------------------------------------------------------- */
#wrap {
	width: 800px;
}

/*--------------------------------------------------------- 
	ヘッダ領域（base.cssを上書き）
--------------------------------------------------------- */
#header {
	width: 800px;
}

#menu-btn {
	display: none;
}

#header .inner {
	width: 651px;
}

.inner .admin-name {
	display: none;
}

.inner .tenpo-keitai {
	display: none;
}

/*--------------------------------------------------------- 
	検索条件領域(入力時)（base.cssを上書き）
--------------------------------------------------------- */
.str-form-02 {
	width: 758px;
}

/*--------------------------------------------------------- 
    一覧領域
--------------------------------------------------------- */
.str-result-01 .str-result-item-01 {
  width: 758px;
}

/*--------------------------------------------------------- 
	検索条件領域					CSV取込画面
--------------------------------------------------------- */
.str-search-01 .w-type-01 {
  width: 30px;
}
.str-search-01 .w-type-02 {
  width: 130px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  width: 45px;
}

/* エラー内容 */
.str-result-01 .col2 {
  width: 703px;
}

/*--------------------------------------------------------- 
	ファイルアップロード
--------------------------------------------------------- */

/* 参照 */
.fileup1{
/*    position: absolute;*/
/*    font-size:6px;*/
    width: 500px;
	height: 24px;
	padding: 0 0 0 0;
}

