/*-----------------------------------------------------------------------------
	スタイル：:tb030f02.css
--------------------------------------------------------------------------------*/


/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
/*--- 区分 ---*/
#str-search-02 .slt-kbn {
	width: 120px;
}
/*--- 理由 ---*/
#str-search-02 .slt-riyu {
	width: 140px;
}
.str-search-02 .w-type-01 {
	width: 100px;
}
.str-search-02 .w-type-02 {
	width: 220px;
}



/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/*--- No ---*/
.str-result-01 .col1 {
	position: relative;
	width: 26px;
	border-left: 1px solid #cccccc;
}
/*--- 品種／ブランド ---*/
.str-result-01 .col2 {
	width: 240px;
}
/*--- 自社品番 ---*/
.str-result-01 .col3 {
	width: 65px;
}
/*--- メーカー品番／商品名 ---*/
.str-result-01 .col4 {
	width: 355px;
}
/*--- 色／サイズ ---*/
.str-result-01 .col5 {
	width: 75px;
}
/*--- スキャンコード ---*/
.str-result-01 .col6 {
	width: 101px;
}
/*--- 納品数 ---*/
.str-result-01 .col7 {
	width: 70px;
}
/*--- 検数 ---*/
.str-result-01 .col8 {
	width: 89px;
}
/*--- 原単価 ---*/
.str-result-01 .col9 {
	width: 70px;
}
/*--- 原価金額 ---*/
.str-result-01 .col10 {
	width: 81px;
}

