/*-----------------------------------------------------------------------------
	スタイル：:tg090f01.css
--------------------------------------------------------------------------------*/

.str-search-01 .w-type-01 {
	width: 80px;
}
.str-search-01 .w-type-02 {
	width: 275px;
}
.str-search-01 .w-type-03 {
	width: 250px;
}
.str-search-01 .w-type-04 {
	width: 186px;
}
.str-search-01 .w-type-05 {
	width: 145px;
}
