/*-----------------------------------------------------------------------------
	スタイル：:tj080f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 店舗確定状況 ---*/
.slt-kakuteijyokyo {
	width: 120px;
}

/*--- 送信状態 ---*/
.slt-sousinjyotai {
	width: 80px;
}

.str-search-01 .w-type-01 {
  width: 100px;
}
.str-search-01 .w-type-02 {
  width: 280px;
}
.str-search-01 .w-type-03 {
  width: 140px;
}
.str-search-01 .w-type-04 {
  width: 150px;
}
.str-search-01 .w-type-05 {
  width: 100px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  width: 30px;
}
/* 店舗 */
.str-result-01 .col2 {
  width: 456px;
}
/* 送信確定日 */
.str-result-01 .col3 {
  width: 237px;
}
/* 店舗確定状況 */
.str-result-01 .col4 {
  width: 237px;
}
/* MD送信状況 */
.str-result-01 .col5 {
  width: 237px;
}
