/*-----------------------------------------------------------------------------
	スタイル：:th010f03.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
.str-search-02 .w-type-01 {
	width: 130px;
}
.str-search-02 .w-type-02 {
	width: 120px;
}
.str-search-02 .w-type-03 {
	width: 120px;
}
.str-search-02 .w-type-04 {
	width: 200px;
}

/* ラジオボタン間隔 */
.str-radio-table {
	margin-left : -10px ;
	margin-right : auto ;
	border-spacing : 15px 0px;
	border-collapse : separate;
}

/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/* 行 */
.str-result-01 .col1 {
	position: relative;
	width: 150px;
}
/* スキャンコード */
.str-result-01 .col2 {
	width: 300px;
}
/* 色 */
.str-result-01 .col3 {
	width: 250px;
}
/* サイズ */
.str-result-01 .col4 {
	width: 250px;
}
/* 枚数 */
.str-result-01 .col5 {
	width: 247px;
}

