/*-----------------------------------------------------------------------------
	スタイル：:th010f02.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */

.str-search-01 .w-type-01 {
	width: 104px;
}
.str-search-01 .w-type-02 {
	width: 220px;
}

/* ラジオボタン間隔 */
.str-radio-table {
	margin-left : -10px ;
	margin-right : auto ;
	border-spacing : 15px 0px;
	border-collapse : separate;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* 行 */
.str-result-01 .col1 {
	position: relative;
	width: 25px;
}

/* 仕入先 */
.str-result-01 .col2 {
	width: 135px;
}

/* 部門／品種 */
.str-result-01 .col3 {
	width: 171px;
}
/* ブランド／自社品番 */
.str-result-01 .col4 {
	width: 167px;
}
/* コア */
.str-result-01 .col5 {
	width: 38px;
}

/* メーカー品番／商品名 */
.str-result-01 .col6 {
	width: 350px;
}
/* 色 */
.str-result-01 .col7 {
	width: 71px;
}
/* 販売完了日 */
.str-result-01 .col8 {
	width: 74px;
}
/* 最新売価／原価 */
.str-result-01 .col9 {
	width: 73px;
}
/* 現売価／ﾒｰｶｰ価格 */
.str-result-01 .col10 {
	width: 68px;
}
