/*-----------------------------------------------------------------------------
	スタイル：:ta060f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 区分 ---*/
.slt-kbn {
	width: 100px;
}

.str-search-01 .w-type-01 {
  width: 80px;
}
.str-search-01 .w-type-02 {
  width: 280px;
}
.str-search-01 .w-type-03 {
  width: 500px;
}




/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No */
.str-result-01 .col1 {
  position: relative;
  width: 80px;
}
/* 変更区分 */
.str-result-01 .col2 {
  width: 190px;
}
/* 部門 */
.str-result-01 .col3 {
  width: 364px;
}
/* 依頼数量 */
.str-result-01 .col4 {
  width: 186px;
}
/* 原価金額 */
.str-result-01 .col5 {
  width: 186px;
}
/* 決済日 */
.str-result-01 .col6 {
  width: 186px;
}

