/*-----------------------------------------------------------------------------
	スタイル：:ta060f02.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
.str-search-02 .w-type-01 {
	width: 85px;
}
.str-search-02 .w-type-02 {
	width: 140px;
}
.str-search-02 .w-type-03 {
	width: 220px;
}


/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/*--- 行 ---*/
.str-result-01 .col1 {
	position: relative;
	width: 34px;
	border-left: 1px solid #cccccc;
}

/*--- 品種 ブランド ---*/
.str-result-01 .col2 {
	width: 146px;
}
/*--- 自社品番 コア ---*/
.str-result-01 .col3 {
	width: 62px;
}
/*--- メーカー品番 商品名 ---*/
.str-result-01 .col4 {
	width: 355px;
}
/*--- 色 サイズ ---*/
.str-result-01 .col5 {
	width: 76px;
}
/*--- スキャンコード ---*/
.str-result-01 .col6 {
	width: 100px;
}

/*--- 依頼数量 ---*/
.str-result-01 .col7 {
	width: 80px;
}
/*--- 原価金額 ---*/
.str-result-01 .col8 {
	width: 80px;
}
/*--- コメント ---*/
.str-result-01 .col9 {
	width: 246px;
}



