/*-----------------------------------------------------------------------------
	スタイル：:tf020f01.css
--------------------------------------------------------------------------------*/


/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 承認 ---*/
.slt-syonin {
	width: 80px;
}

.str-search-01 .w-type-01 {
  width: 100px;
}
.str-search-01 .w-type-02 {
  width: 350px;
}


/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  position: relative;
  width: 28px;
}
/* 申請日 */
.str-result-01 .col2 {
  width: 70px;
}
/*--- 確定日 ---*/
.str-result-01 .col3 {
  width: 70px;
}
/* 伝票番号 */
.str-result-01 .col4 {
  width: 80px;
}
/*--- 科目 ---*/
.str-result-01 .col5 {
  width: 245px;
}
/*--- 数量 ---*/
.str-result-01 .col6 {
  width: 60px;
}
/*--- 原価金額／売価金額 ---*/
.str-result-01 .col7 {
  width: 110px;
}
/*--- 申請担当者 ---*/
.str-result-01 .col8 {
  width: 120px;
}
/*--- 受理番号 ---*/
.str-result-01 .col9 {
  width: 125px;
}
/*--- 承認状態 ---*/
.str-result-01 .col10 {
  width: 67px;
}
/*--- 申請理由／却下理由 ---*/
.str-result-01 .col11 {
  width: 192px;
}

.str-result-01 .cell {
  display: block;
  float: left;
}

