@charset "utf-8";
/* =================================
   ■ cbstyle.css　Ｂチーム共通要素などのスタイル
================================== */

/* =================================
   ■ 再入荷防止のバックカラー
================================== */
.sainykbos
{
	background-color: #00ff7f;
}
/* =================================
   ■ 店別期間警告のバックカラー
================================== */
.tenbtukkn_keikoku
{
	background-color: #ffff00;
}
/* =================================
   ■ ＬＣ総量納入センター発注単位の調整
================================== */
.lcnohlot_chosei
{
	background-color: #ffff00;
}
/* =================================
   ■ 代表自社品番登録済みの文字色
================================== */
.dhyjsyhbn_touroku
{
	color: #0000d0;
}
/* =================================
   ■ 代表自社品番メッセージの文字色
================================== */
.dhyjsyhbn_msg
{
	color: #ff0000;
}
/* =================================
   ■ 適用中の計画期間の背景色
================================== */
.choseKiukkn
{
	background-color:#00FFFF;
}
/* =================================
   ■ 完了済み
================================== */
.sumi
{
	background-color:#808080;
}
/* =================================
   ■ 配分可能数超過データ
================================== */
.hibknosu_chouka
{
	background-color:#FF69B6;
}
/* =================================
   ■ 自動補充基本期間内
================================== */
.jdohjusyrkhnkkn_nai
{
	background-color:#87CEFE;
}
/* =================================
   ■ 過去の自動補充基本期間あり
================================== */
.jdohjusyrkhnkkn_kako
{
	background-color:#CC99FF;
}
