/*-----------------------------------------------------------------------------
	スタイル：:tm070f01.css
--------------------------------------------------------------------------------*/


/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
.str-search-01 .w-type-01 {
	width: 120px;
}
.str-search-01 .w-type-02 {
	width: 330px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* 行 */
.str-result-01 .col1 {
	position: relative;
	width: 50px;
}
/* 担当者 */
.str-result-01 .col2 {
	width: 250px;
}
/* 元店舗 */
.str-result-01 .col3 {
	width: 250px;
}
/* 変更店舗 */
.str-result-01 .col4 {
	width: 250px;
}
/* 変更日 */
.str-result-01 .col5 {
	width: 250px;
}
/* 所属店初期化 */
.str-result-01 .col6 {
	width: 142px;
}
.str-result-01 .padtop {
	width: 120%;
	height: 100%;
	text-align: right;
	vertical-align: middle;
	padding: 0px 0px 0px 3px;
	margin: 0px 0px 0px 0px;
}
