/*-----------------------------------------------------------------------------
	スタイル：:tb040f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No */
.str-result-01 .col1 {
	width: 40px;
}
/* 仕入先 */
.str-result-01 .col2 {
	width: 280px;
}
/* 伝票番号 */
.str-result-01 .col3 {
	width: 140px;
}
/* 部門 */
.str-result-01 .col4 {
	width: 210px;
}
/* 入荷予定日 */
.str-result-01 .col5 {
	width: 128px;
}

/* 数量 */
.str-result-01 .col6 {
	width: 110px;
}

/* 原価金額 */
.str-result-01 .col7 {
	width: 121px;
}
/* 客注 */
.str-result-01 .col8 {
	width: 74px;
}
/* 値書き */
.str-result-01 .col9 {
	width: 74px;
}
