/*-----------------------------------------------------------------------------
	スタイル：:tj170f02.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
.str-search-02 .w-type-01 {
	width: 100px;
}
.str-search-02 .w-type-02 {
	width: 200px;
}
.str-search-02 .w-type-03 {
	width: 100px;
}
.str-search-02 .w-type-04 {
	width: 200px;
}

/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/*--- No ---*/
.str-result-01 .col1 {
	position: relative;
	width: 30px;
	border-left: 1px solid #cccccc;
}

/*--- 部門／品種 ---*/
.str-result-01 .col2 {
	width: 125px;
}
/*--- ブランド／自社品番 ---*/
.str-result-01 .col3 {
	width: 120px;
}
/*--- メーカー品番／商品名 ---*/
.str-result-01 .col4 {
	width: 238px;
}
/*--- 色／サイズ ---*/
.str-result-01 .col5 {
	width: 73px;
}

/*--- スキャンコード ---*/
.str-result-01 .col6 {
	width: 100px;
}

/*--- 現売価／評価単価 ---*/
.str-result-01 .col7 {
	width: 74px;
}

/*--- 棚時帳簿数／棚時積送数 ---*/
.str-result-01 .col8 {
	width: 88px;
}

/*--- 実棚数／以降受払数 ---*/
.str-result-01 .col9 {
	width: 88px;
}

/*--- 理論在庫数／理論棚卸数 ---*/
.str-result-01 .col10 {
	width: 88px;
}

/*--- ロス数／ロス金額 ---*/
.str-result-01 .col11 {
	width: 88px;
}

/*--- ﾌｪｲｽNo／棚段 ---*/
.str-result-01 .col12 {
	width: 50px;
}

