/*-----------------------------------------------------------------------------
	スタイル：:tj120f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */

.str-search-01 .w-type-01 {
  width: 90px;
}
.str-search-01 .w-type-02 {
  width: 190px;
}
.str-search-01 .w-type-03 {
  width: 260px;
}
.str-search-01 .w-type-04 {
  width: 310px;
}


/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  position: relative;
  width: 61px;
}

/* ﾌｪｲｽNo */
.str-result-01 .col2 {
  width: 147px;
}

/* 棚段 */
.str-result-01 .col3 {
  width: 122px;
}

/* 回数 */
.str-result-01 .col4 {
  width: 122px;
}

/*--- ｽｷｬﾝ数量 ---*/
.str-result-01 .col5 {
	width: 122px;
}

/* 入力担当者 */
.str-result-01 .col6 {
  width: 367px;
}

/* 入力日 */
.str-result-01 .col7 {
  width: 246px;
}

.str-result-01 .cell {
  display: block;
  float: left;
}

/* Noリンクボタン */
.str-result-01 .noLink {
	width: 63px;
	text-align: right;
}
