/*-----------------------------------------------------------------------------
	スタイル：:td020f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
/*--- 返品理由 ---*/
.slt-henpinriyu {
	width: 100px;
}


/*--- 検索条件 ---*/
.str-search-02 .w-type-01 {
	width: 90px;
}
.str-search-02 .w-type-02 {
	width: 300px;
}

/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
.str-result-01 .col1 {
	position: relative;
	width: 36px;
	border-left: 1px solid #cccccc;
}
/* 店舗 */
.str-result-01 .col2 {
	width: 184px;
}
/* 品種 */
.str-result-01 .col3 {
	width: 138px;
}
/* 自社品番 */
.str-result-01 .col4 {
	width: 61px;
}
/* メーカー品番 */
.str-result-01 .col5 {
	width: 351px;
}
/* 色 */
.str-result-01 .col6 {
	width: 70px;
}
/* スキャンコード */
.str-result-01 .col7 {
	width: 113px;
}
/* 仕入数量 */
.str-result-01 .col8 {
	width: 80px;
}
/* 原単価 */
.str-result-01 .col9 {
	width: 59px;
}
/* 原価金額 */
.str-result-01 .col10 {
	width: 80px;
}


