/*-----------------------------------------------------------------------------
	スタイル：:tg030f01.css
--------------------------------------------------------------------------------*/
.str-search-01 .w-type-01 {
	width: 146px;
}
.str-search-01 .w-type-02 {
	width: 150px;
}
.str-search-01 .w-type-03 {
	width: 60px;
}
.str-search-01 .w-type-04 {
	width: 250px;
}

.slt-kbn {
	width: 88px;
}