/*-----------------------------------------------------------------------------
	スタイル：:td010f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 返品理由 ---*/
.slt-henpinriyu {
	width: 100px;
}

.str-search-01 .w-type-01 {
	width: 90px;
}
.str-search-01 .w-type-02 {
	width: 276px;
}
.str-search-01 .w-type-03 {
	width: 270px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
	position: relative;
	width: 28px;
}
/* 指示番号 */
.str-result-01 .col2 {
	width: 76px;
}
/* 部門 */
.str-result-01 .col3 {
	width: 168px;
}
/* ブランド */
.str-result-01 .col4 {
	width: 144px;
}
/* 仕入先 */
.str-result-01 .col5 {
	width: 154px;
}
/* 返品確定日 */
.str-result-01 .col6 {
	width: 72px;
}
/* 伝票番号 */
.str-result-01 .col7 {
	width: 54px;
}
/* 登録日 */
.str-result-01 .col8 {
	width: 72px;
}
/* 管理番号 */
.str-result-01 .col9 {
	width: 54px;
}
/* 数量 */
.str-result-01 .col10 {
	width: 78px;
}
/* 原価金額 */
.str-result-01 .col11 {
	width: 78px;
}
/* 入力担当者 */
.str-result-01 .col12 {
	width: 119px;
}
/* 返品理由 */
.str-result-01 .col13 {
	width: 60px;
}
