/*-----------------------------------------------------------------------------
	スタイル：:td010f02.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */

.str-search-02 .w-type-01 {
	width: 85px;
}
.str-search-02 .w-type-02 {
	width: 158px;
}
.str-search-02 .w-type-03 {
	width: 112px;
}
.str-search-02 .w-type-04 {
	width: 112px;
}
.str-search-02 .w-type-05 {
	width: 166px;
}
.str-search-02 .w-type-06 {
	width: 90px;
}
.str-search-02 .w-type-07 {
	width: 78px;
}


/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/*--- No ---*/
.str-result-01 .col1 {
	position: relative;
	width: 26px;
	border-left: 1px solid #cccccc;
}
/*--- 品種 ---*/
.str-result-01 .col2 {
	width: 146px;
}
/*--- 自社品番 ---*/
.str-result-01 .col3 {
	width: 74px;
}
/*--- メーカー品番／商品名 ---*/
.str-result-01 .col4 {
	width: 368px;
}
/*--- 色 ---*/
.str-result-01 .col5 {
	width: 86px;
}
/*--- サイズ ---*/
.str-result-01 .col6 {
	width: 86px;
}
/*--- JANコード ---*/
.str-result-01 .col7 {
	width: 124px;
}
/*--- 数量 ---*/
.str-result-01 .col8 {
	width: 94px;
}
/*--- 原単価 ---*/
.str-result-01 .col9 {
	width: 74px;
}
/*--- 原価金額 ---*/
.str-result-01 .col10 {
	width: 94px;
}
