<?xml version="1.0" encoding="utf-8" ?>
<connection>
	<!-- データソース定義  
	　　　id:データソースID  
	      default:デフォルトデータソース（trueを設定する項目は１つのみとしてください）
	      属性  name:属性名  value:値 　接続設定を格納している文字列
	      データベース類型 0:ODBC 1:OLEDB 2:SQL SERVER 3:ORACLE 4:ODP.NET
	-->
	<!-- 開発環境DBサーバ接続 -->
	<driver id="datasource1" default="true">
		<property name="connectionString" value="USER ID=wstore;PASSWORD=wstoreadmin;Data Source=172.24.129.158:1521/HBODB" />
		<property name="providerType" value="3"/>
	</driver>
	<!-- ローカル環境DB接続 -->
	<driver id="datasource2" default="false">
		<property name="connectionString" value="USER ID=wstore;PASSWORD=wstadmin;Data Source=localhost:1521/HBODB" />
		<property name="providerType" value="3"/>
	</driver>

</connection>
