<?xml version="1.0" encoding="utf-8"?>
<LedgerInfo>
	<!--共通設定-->
	<COMMONINFO
			 kindoftool="LCT"
			 assetsdir="D:\ListFactory\Assets"
			 pdfdir="D:\flower.net\downloadfile\pdf">
	</COMMONINFO>
	<!--帳票別設定-->
	<LEDGERS>
		<!--単帳票サンプル-->
		<LEDGER formid="Testap01" ledgerid="FJ001L01" separetor="|" outkind="pdf" filename="SMPL0001.pdf"/>
	</LEDGERS>
</LedgerInfo>
