<?xml version="1.0" encoding="utf-8" ?>
<logsettings>
	<!-- 
	  AdvancedLoggerと、Log4Net, Enterprise Libraryの切り替えを設定する  
	　　AdvancedLoggerの場合  assembly:com.xebio.bo.Common  type:Common.Advanced.Log.AdvancedLoggerFactory
	    Log4Netの場合  assembly:Log4NetOptions  type:Common.Advanced.Log.Log4Net.Log4NetLoggerFactory
		Enterprise Libraryの場合  assembly:EntLibOptions  type:Common.Advanced.Log.EntLib.EntLibLoggerFactory
	-->
	<loggerfactory assembly="com.xebio.bo.Common" type="Common.Advanced.Log.AdvancedLoggerFactory"/>

	<!-- AdvancedLoggerの初期化設定 -->
	<initializer>
		<!-- ログイベントをバインディングするクラスを列挙する -->
		<eventbinder assembly="com.xebio.bo.Common" type="Common.Advanced.Log.FileLogEventBinder"/>
		<!-- 
		  イベント発生時に渡される情報をカスタマイズする場合、ILogInfoFactory
		  を実装したクラスを指定する  
		-->
		<loginfofactory assembly="com.xebio.bo.Common"  type="Common.Advanced.Log.LogInfoFactory"/>
	</initializer>

	<!-- 開発キットのログ部品の設定 -->
	<standardloggerfactory assembly="com.xebio.bo.Common" type="Common.Standard.Log.StandardLoggerFactory"/>
	<!-- StandardLoggerの初期化設定 -->
	<standardinitializer>
		<!-- ログイベントをバインディングするクラスを列挙する -->
		<eventbinder assembly="com.xebio.bo.Common" type="Common.Standard.Log.FileLogEventBinder"/>
		<!-- 
			イベント発生時に渡される情報をカスタマイズする場合、ILogInfoFactory
			を実装したクラスを指定する  
			-->
		<standardloginfofactory assembly="com.xebio.bo.Common"  type="Common.Standard.Log.LogInfoFactory"/>
	</standardinitializer>  
	
  
	<!--
	  Logの出力設定情報  
	  ここで設定した情報はLogSettingsクラスから取得することが可能  
	 （NameValueCollectionとして取得する）  
	-->
	<logsetting>
		<filename>D:\xebio\log\fileLogger.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>10</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR,FATAL</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% [LINE: %LINE%] : %MESSAGE%</logformat>
	</logsetting>
	<logsetting name="FileLog2">
		<filename>D:\xebio\log\fileLogger2.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>10</maxfiles>
		<loglevel>INFO</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% [FILE: %FILENAME% LINE: %LINE% COL: %COLNUMBER%] : %MESSAGE%</logformat>
	</logsetting>
	<!-- Log4NetOptionを使用する場合、設定ファイルのパスを与える必要がある。 -->
	<logsetting name="Log4Net">
		<configfilepath>D:\Inetpub\wwwroot\beta3sample\config\log4net.xml</configfilepath>
	</logsetting>

	<!-- 開発キットの部品内のログ設定 -->
	<logsetting name="Standard">
		<filename>D:\xebio\log\standard_sql.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>10</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR,FATAL</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% [FILE: %FILENAME% LINE: %LINE% COL: %COLNUMBER%] : %MESSAGE%</logformat>
	</logsetting>
	<logsetting name="StandardLog">
		<filename>D:\xebio\log\standard.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>10</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR,FATAL</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% [FILE: %FILENAME% LINE: %LINE% COL: %COLNUMBER%] : %MESSAGE%</logformat>
	</logsetting>
	<!-- API 通信履歴用ログ(要求／応答のJSONの出力) -->
	<logsetting name="APILog">
		<filename>D:\xebio\log\json.log</filename>
		<maxkbytes>10000</maxkbytes>
		<maxfiles>10</maxfiles>
		<loglevel>DEBUG,INFO,WARN,ERROR,FATAL</loglevel>
		<logformat>%DATETIME% %LEVEL% %CLASSNAME%.%METHOD% [FILE: %FILENAME% LINE: %LINE% COL: %COLNUMBER%] : %MESSAGE%</logformat>
	</logsetting>
</logsettings>