<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<database>
		<!-- 0:Oracle Data Provider for .NET(ODP) 1:.NET Framework Data Provider for Oracle 2:SQL Server -->
		<provider>1</provider>
		<!--接続文字列-->
		<!--開発環境DBサーバ接続-->
		<connectionString>user id=wstore;password=wstoreadmin;data source=172.24.129.158:1521/HBODB</connectionString>
		<!--ローカル環境DB接続-->
		<!--<connectionString>user id=wstore;password=wstadmin;data source=localhost/HBODB</connectionString>-->
		<!-- 0:Chaos 1:ReadCommitted 2:ReadUncommitted 3:RepeatableRead 4:Serializable 5:Snapshot 6:Unspecified -->
		<isolationLevel></isolationLevel>
		<commandTimeout></commandTimeout>
	</database>
	<oracle>
		<!-- 0:no use 1: use -->
		<useJoinPhrase>0</useJoinPhrase>
		<!--<oracleAssemblyName>Oracle.DataAccess,Version=2.112.1.00,Culture=neutral,PublicKeyToken=89B483F429C47342</oracleAssemblyName>-->
	</oracle>
	<log>
		<loggerFactory>ListFactoryLogger.dll;Common.ListFactory.Log.CommonLogger.ListFactoryLoggerFactory</loggerFactory>
        <logFileName>ListFactory</logFileName>
        <logFileDir>D:\xebio\log</logFileDir>
	</log>
	<dir>
		<formDefinitionDir>D:\xebio\ListData\List\Assets</formDefinitionDir>
		<formSavingDir>D:\xebio\ListData\output\TEMP</formSavingDir>
		<csvWorkDir>D:\xebio\ListData\output\TEMP</csvWorkDir>
		<!-- 0:AP Server 1:Print Server-->
		<formDefinitionLocation>0</formDefinitionLocation>
	</dir>
	<csv>
		<csvSeparator>|</csvSeparator>
		<!-- shift_jis,utf-8,etc -->
		<csvCharCode>shift_jis</csvCharCode>
		<csvEncloseChar></csvEncloseChar>
		<!-- 0:Default 1:CODE_SJIS 2:CODE_UCS2LE 3:CODE_UCS2BE 4:CODE_UTF8 -->
		<inputDataEncoding>1</inputDataEncoding>
		<!-- 0:No Transfer 1:Transfer -->
		<transferMS932>1</transferMS932>
	</csv>
	<update>
		<!-- 0:NOWAIT 1:WAIT -->
		<updateFlgWaitType>0</updateFlgWaitType>
		<updateFlgWaitTime>5</updateFlgWaitTime>
	</update>
	<multiForm>
		<!-- 1:|,#,*,comma 2:space 3:tab 4:fixed 5:fixed delimit 6:xml -->
		<grpDelimitMode>1</grpDelimitMode>
		<grpDelimit>|</grpDelimit>
		<grpBytes></grpBytes>
	</multiForm>
	<deleteBat>
		<keepDays>10</keepDays>
		<!-- 0:Logical delete 1:Physical delete -->
		<deleteBatchKind>1</deleteBatchKind>
	</deleteBat>
	<listOutputData>
		<!-- 0:No Regist 1:Regist -->
		<registListOutputData>0</registListOutputData>
		<categoryColumnList></categoryColumnList>
	</listOutputData>
	<other>
		<parameter1></parameter1>
	</other>
</configuration>