<?xml version="1.0" encoding="utf-8" ?> 
<config>
	<!--Check For browser's variable define.-->
	<browserVersion typecheck="false">
		<IEVersion>6.0</IEVersion>
	</browserVersion>

	<!--Session File Settings-->
	<sessionSettings>
		<useSession>true</useSession>
	</sessionSettings>

	<!--JavaScript 設定-->
	<javascriptSettings>
		<debug>false</debug>
		<clientCheck>false</clientCheck>
		<autoFormat>true</autoFormat>
		<tabOnEnter>true</tabOnEnter>
		<keyFilter>true</keyFilter>
	</javascriptSettings>

	<!--チェックを設定-->
	<checkSettings>
		<checkTXR>false</checkTXR>
		<checkDRL>false</checkDRL>
		<checkHDN>false</checkHDN>
		<checkRDO>false</checkRDO>
		<borderYear>29</borderYear>
	</checkSettings>

	<!--Culture 設定-->
	<cultureSettings>
		<culture>ja-JP</culture>
	</cultureSettings>
	
	<!--他の variable -->
	<globalSettings>
		<!--The directory where the transaction file locates
				file separator:/ or \\
		-->
		<trnTmpPath>D:\\temp\\trntmp</trnTmpPath>
		<!--The flag decided to use log:true/false-->
		<logEnabled>true</logEnabled>
		<multiWindowControlMode>form</multiWindowControlMode>
	</globalSettings>

	<!-- コード参照設定 -->
	<coderef>
		<searchallflg>true</searchallflg>
	</coderef>
	<!-- フレームワークが生成するSQL文のテーブル名・列名の大文字小文字を区別するかどうか
		（区別する場合はtrue、それ以外はfalse） -->
  <isSQLCaseSensitive>false</isSQLCaseSensitive>


	<features>

		<!-- 入力値処理の設定－－－－－－－－－－－－－－－－－－－－－－－－－－ -->

		<!-- 有効な日付の範囲 
        （SQL ServerのDatetime型に入力可能な日付の範囲は1753-01-01～9999-12-31です）-->
		<minDate>1753-01-01</minDate>
		<maxDate>9999-12-31</maxDate>

		<!-- 無効な文字の入力チェック -->
		<invalidCharacterCheck>
			<!-- 共通チェックでUnicodeのサロゲートペア文字の入力をチェックする(true)／しない(false) -->
			<surrogatePair>true</surrogatePair>
			<!-- 共通チェックでShift_JISに正しく変換できない文字の入力をチェックする(true)／しない(false) -->
			<nonSJIS>false</nonSJIS>
		</invalidCharacterCheck>

		<!-- サーバー側の入力値のトリム処理で全角スペースをトリムする(true)／しない(false) -->
		<trimFullSpace>false</trimFullSpace>

		<!-- 丸め処理の設定-->
		<rounding>
			<!-- 設計情報による丸め処理を有効化する(true)／無効化する(false)	-->
			<enabled>true</enabled>
			<!-- 互換性のためにフォーマット"00"と"10"を丸め処理の対象外とする場合、以下のように記述します。 -->
			<!--
			<nonRoundingFormatIds>
				<formatId>00</formatId>
				<formatId>10</formatId>
			</nonRoundingFormatIds>
			-->
		</rounding>

		<!-- 
			サーバサイドでSG属性10フォーマット項目の入力値を処理する際に、ゼロ埋め状態を維持するかどうか
				true: 維持する                   （入力値：0001 → FormVOに設定される値：0001）
				false: 維持しない（従来の動作）  （入力値：0001 → FormVOに設定される値：1）
		-->
		<preserveSG10Format>true</preserveSG10Format>

		<!-- 旧JavaScriptヘルパー(advjsctla_n.js)で、V14.2以降のJavaScriptヘルパーと同様の入力制御を行うかどうか
			true: V14.2相当の入力制御を行う
			false: V14.1の仕様を維持する  -->
		<v2CompatibleJsInputControl>true</v2CompatibleJsInputControl>


		<!-- 新JavaScriptヘルパー固有の設定－－－－－－－－－－－－－－－－－－－－ -->

		<!-- JavaScriptのキャッシュ制御
				Timestamp: JavaScriptファイルの更新日時によりキャッシュの無効化を行う
				None: キャッシュの無効化を行わない
		-->
		<jsCacheControlType>None</jsCacheControlType>

		<!-- JavaScriptのエラー表示方法の設定
			true: 全てのエラーをメッセージエリアに表示
			false: 最初のエラーのみ表示（ポップアップ表示）
		-->
		<continueOnError>true</continueOnError>

		<!-- フォーカスアウト時に入力チェックを行う(true)／行わない(false) -->
		<checkOnBlur>false</checkOnBlur>

		<!-- 画面上に表示されるメッセージのフォーマット -->
		<messageFormats>
			<info><![CDATA[<span class="advMsgInfo">[%MESSAGE_ID%] %MESSAGE%</span><br />]]></info>
			<warn><![CDATA[<span class="advMsgWarn">[%MESSAGE_ID%] %MESSAGE%</span><br />]]></warn>
			<error><![CDATA[<span class="advMsgError">[%MESSAGE_ID%] %MESSAGE%</span><br />]]></error>
		</messageFormats>


		<!-- 他国語関連設定－－－－－－－－－－－－－－－－－－－－－－－－ -->
		
		<!-- コンディションとコード項目標題をリソースから取得するかどうか
				 true:	リソースファイルから標題値を取得する（他国語対応可、コードとコンディション継承ファイルの生成が必要）
				 false: 継承ファイルの標題値を使用する（他国語対応不可）
		-->
		<useConditonCodeItemLabelResource>false</useConditonCodeItemLabelResource>

		<!-- 他国語数値フォーマット機能のON(true)／OFF(false) -->
		<enableGlobalizationNumberFormat>false</enableGlobalizationNumberFormat>


		<!-- その他の設定－－－－－－－－－－－－－－－－－－－－－－－－ -->

		<!-- 画面のヘッダに出力されるHTTP Cache-Controlの種別 -->
		<cacheControlHeaderValue>private, no-store, no-cache, must-revalidate</cacheControlHeaderValue>

		<!--
			コンディションとコードコンディションのDRL項目にキー値を表示する場合の、
			キー値と標題値のセパレータ文字列
		-->
		<conditonCodeItemKeySeparator><![CDATA[ - ]]></conditonCodeItemKeySeparator>

		<!-- 8桁以外のプログラムIDとフォームIDに対応する -->
		<useDynamicLengthPgFormId>true</useDynamicLengthPgFormId>

		<!-- [PgId]InitPage.aspxのGETパラメータをスタートアップ画面に引き継ぐ機能の有効化 -->
		<transferInitPageParameter>
			<enabled>true</enabled>
			<!-- [PgId]InitPage.aspxから引き継がないパラメータを指定する場合、以下のように記述します。 -->
			<!--
			<exceptKeys>
				<exceptKey>key1</exceptKey>
				<exceptKey>key2</exceptKey>
			</exceptKeys>
			-->
		</transferInitPageParameter>

		<!-- サブセッションIDのリクエストパラメータ名 -->
		<subSessionRequestKey>AdvIdentity</subSessionRequestKey>


		<!-- ファイルダウンロード関連の設定 －－－－－－－－－－－－－－－-->
		<file-transfer>
			<download>
				<!-- レスポンスへファイルを書き出す際のバッファサイズ（Byte） -->
				<buffer-size>16384</buffer-size>
				<!-- 拡張子ごとのダウンロード設定 -->
				<file extention="txt">
					<content-type>text/plain</content-type>
					<content-disposition>attachment</content-disposition>
				</file>
				<file extention="pdf">
					<content-type>application/pdf</content-type>
					<content-disposition>inline</content-disposition>
				</file>
				<file extention="doc">
					<content-type>application/msword</content-type>
					<content-disposition>attachment</content-disposition>
				</file>
				<file extention="docx">
					<content-type>application/msword</content-type>
					<content-disposition>attachment</content-disposition>
				</file>
				<file extention="xls">
					<content-type>application/msexcel</content-type>
					<content-disposition>attachment</content-disposition>
				</file>
				<file extention="xlsx">
					<content-type>application/msexcel</content-type>
					<content-disposition>attachment</content-disposition>
				</file>
				<file>
					<!-- 既定の設定値 -->
					<content-type>application/octet-stream</content-type>
					<content-disposition>attachment</content-disposition>
				</file>
			</download>
		</file-transfer>

    <!-- SQL実行のタイムアウト設定(秒) -->
    <dbCommandTimeout>30</dbCommandTimeout>

  </features>

</config>
