<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!--URLの最大パラメータ数-->
	<add key="aspnet:MaxHttpCollectionKeys" value="10000" />

	<!--ソリューション名（未使用）-->
	<add key="SolutionName" value="" />

	<!--ログ名-->
	<add key="LogSettingName" value="StandardLog"/>
	<add key="LogConfigPath" value="D:\xebio\bo\config\"/>

	<!--基盤名-->
	<add key="BaseWebName" value="Base"/>

	<!--ListFactory設定ファイルパス-->
	<add key="ListFactoryConfigpath" value="D:\xebio\bo\config" />


	<!--ファイルアップロード用拡張子チェック時の拡張子(キーはFormID、もしくはFormID.ButtonID)-->
	<!--共通設定-->
	<add key="UploadAllowedDefaultExtension" value=".xls|.csv|.zip"/>
	<!--ファイル名最大桁数-->
	<add key="Uploadfilesize" value="100"/>

	<!--ファイルアップロード用ファイル名の構成-->
	<add key="UpLoadFileName1" value="formID"/>
	<add key="UpLoadFileName2" value="date"/>
	<add key="UpLoadFileName3" value="time"/>
	<add key="UpLoadFileName4" value="userid"/>
	<add key="UpLoadFileName5" value="clientFileName"/>

	<!--ファイルを格納するディレクトリ-->
	<add key="FileRootDir" value="D:\\xebio\\temp"/>

	<!--ファイルアップロード用拡張子チェック時の拡張子(キーはプログラムID)-->
	<!--     例）<add key="fj001f01.Btnenter" value=".doc|.txt"/> -->

	<!--ファイルダウンロード用サーバ格納元パス-->
	<!--
	<add key="DownLoadPath"     value=""/>
	<add key="DownLoadPath.csv" value=""/>
	<add key="DownLoadPath.pdf" value=""/>
	<add key="DownLoadPath.xls" value=""/>
	<add key="DownLoadPath.xlsx" value=""/>
	<add key="DownLoadPath.doc" value=""/>
	<add key="DownLoadPath.owf" value=""/>
	-->
	<!--ファイルダウンロード用ファイル名の構成-->
	<!--
	<add key="DownLoadFileName1" value=""/>
	<add key="DownLoadFileName2" value=""/>
	<add key="DownLoadFileName3" value=""/>
	-->

	<!--ファイルダウンロード時のダイヤログ表示の可否-->
	<add key="Dialog"     value="Attachment"/>
	<add key="Dialog.zip"     value="Attachment"/>
	<add key="Dialog.txt"     value="Attachment"/>
	<add key="Dialog.csv" value="Attachment"/>
	<add key="Dialog.doc" value="Attachment"/>
	<add key="Dialog.xls" value="Attachment"/>
	<add key="Dialog.xlsx" value="Attachment"/>
	<add key="Dialog.owf" value="inline"/>
	<add key="Dialog.pdf" value="Attachment"/>
	<!--ContentTypeの値-->
	<add key="ContentType.csv" value="APPLICATION/OCTET-STREAM"/>
	<add key="ContentType.pdf" value="APPLICATION/PDF"/>
	<add key="ContentType.xls" value="APPLICATION/VND.MS-EXCEL"/>
	<add key="ContentType.xlsx" value="APPLICATION/VND.MS-EXCEL"/>
	<add key="ContentType.doc" value="MSWORD"/>
	<add key="ContentType.owf" value="APPLICATION/X-OWF"/>
	<add key="ContentType.txt" value="TEXT/PLAIN"/>
	<add key="ContentType.zip" value="APPLICATION/ZIP"/>

	<!--接続文字列-->
	<!--開発環境DBサーバ接続-->
	<add key="PlusConnectString" value="USER ID=wstore;PASSWORD=wstoreadmin;Data Source=172.24.129.158:1521/HBODB"/>
	<!--ローカル環境DB接続-->
	<!--<add key="PlusConnectString" value="USER ID=wstore;PASSWORD=wstadmin;Data Source=localhost:1521/HBODB"/>-->
	<!--DBタイプ-->
	<add key="PlusDBType" value="3"/>

	<!--メッセージ設定 header:ヘッダー部,footer:フッター部-->
	<add key="MessageControlIncludeID" value="header"/>
	<!--メッセージ表示形式 1:リスト表示,2:ポップアップ表示,3:一行表示,4:リストボックス表示,5:横スクロール付リストボックス表示-->
	<add key="MessageShowType" value="2"/>
	<!--エラー項目反転設定 true:反転する,false:反転しない-->
	<add key="ErrorControlReverse" value="true"/>
	<!--右クリック禁止設定(キー制御全体) true:右クリック無効, false:右クリック有効-->
	<add key="RightClickControl" value="false"/>
	<!--エラーチェック方式 request:リクエスト,facade:ファサード-->
	<add key="ErrorCheckType" value="request"/>
	<!--文字コードチェック設定 true:有効,false:無効-->
	<add key="CharacterCodeCheck" value="true"/>
	<!--文字コードタイプ設定 1:Shift_JIS,2:Unicode-->
	<add key="CharacterCodeType" value="1"/>
	<!--ファイル名文字コードチェック設定 -->
	<add key="CharacterCodeCheckForFile" value="true"/>
	<!-- お待ちください画面のパス-->
	<add key="NowLoadingURL" value="/pjcommon/mdAspx/NowLoading.aspx"/>
	<!-- 帳票定義ファイル格納先フォルダ -->
	<add key="LedgerConfigPath" value="D:\xebio\bo\config\"/>
	<!-- グループ制御設定 true:有効,false:無効 -->
	<add key="GroupControl" value="false"/>
	<!-- SQL定義ファイル格納先フォルダ（project1の部分をプロジェクトIDに変更してください） -->
	<add key="SqlDefinePath" value="D:\xebio\bo\sql-define\"/>
	<!-- CSVファイル出力先フォルダ -->
	<add key="CsvFilePash" value=""/>
	<!-- 「標題にラベルコントロールを使用する」にチェックが入っている場合のみ、以下の設定が有効となります。 -->
	<!-- 必須入力マークの設定 -->
	<add key="MustMark" value="*"/>
	<!-- 必須入力マークの設定　true:使用する・false:使用しない-->
	<add key="CardMustMark" value="true"/>
	<add key="ListMustMark" value="true"/>
	<!-- 必須入力カラーの設定　true:使用する・false:使用しない-->
	<add key="CardMustColor" value="false"/>
	<add key="ListMustColor" value="false"/>
	<!--文字コードタイプ設定 1:Shift_JIS,2:Unicode-->
	<add key="CharacterCodeCsvRead" value="1"/>
	<!--文字コードタイプ設定 1:Shift_JIS,2:Unicode-->
	<add key="CharacterCodeCsvWrite" value="1"/>
	<!-- Standard.configのキー(ファイルダウンロード時のレスポンスエンコード）-->
	<add key="ResponseContentEncoding"  value="utf-8"/>
	<!-- セルフカスタマイズフラグ -->
	<add key="SelfCustomizeUseFlag" value="false"/>
	<!-- ＬＩＫＥエスケープ文字 -->
	<add key="DatabaseEscapeChar" value="$"/>
</appSettings>