/*-----------------------------------------------------------------------------
	スタイル：:tf030f02.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
.str-search-02 .w-type-01 {
  width: 100px;
}
.str-search-02 .w-type-02 {
  width: 120px;
}
.str-search-02 .w-type-03 {
  width: 230px;
}
.str-search-02 .w-type-04 {
  width: 250px;
}



/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/*--- No ---*/
.str-result-01 .col1 {
	position: relative;
	width: 96px;
	border-left: 1px solid #cccccc;
}
/*--- 摘要 ---*/
.str-result-01 .col2 {
	width: 410px;
}
/*--- 数量 ---*/
.str-result-01 .col3 {
  width: 230px;
}
/*--- 単価 ---*/
.str-result-01 .col4 {
  width: 230px;
}
/*--- 金額 ---*/
.str-result-01 .col5 {
  width: 230px;
}
