/*-----------------------------------------------------------------------------
	スタイル：:tf030f01.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 承認 ---*/
.slt-syonin {
	width: 80px;
}

.str-search-01 .w-type-01 {
  width: 100px;
}
.str-search-01 .w-type-02 {
  width: 280px;
}
.str-search-01 .w-type-03 {
  width: 230px;
}


/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  position: relative;
  width: 28px;
}
/* 登録日 */
.str-result-01 .col2 {
  width: 90px;
}
/* 店舗 */
.str-result-01 .col3 {
  width: 200px;
}
/* 取引先 */
.str-result-01 .col4 {
  width: 200px;
}
/* 伝票番号 */
.str-result-01 .col5 {
  width: 90px;
}
/* 元伝票番号 */
.str-result-01 .col6 {
  width: 90px;
}
/* 納品日 */
.str-result-01 .col7 {
  width: 90px;
}
/* 入力担当者 */
.str-result-01 .col8 {
  width: 160px;
}
/* 数量 */
.str-result-01 .col9 {
  width: 90px;
}
/* 金額 */
.str-result-01 .col10 {
  width: 134px;
}
