/*-----------------------------------------------------------------------------
	スタイル：:th020f02.css
--------------------------------------------------------------------------------*/
/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
.str-search-02 .w-type-01 {
  width: 90px;
}
.str-search-02 .w-type-02 {
  width: 320px;
}
.str-search-02 .w-type-03 {
  width: 190px;
}
.str-search-02 .w-type-04 {
  width: 190px;
}

/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/* 行 */
.str-result-01 .col1 {
  position: relative;
  width: 26px;
}
/* 店舗 */
.str-result-01 .col2 {
  width: 106px;
}
/* 合計点数 */
.str-result-01 .col3 {
  width: 54px;
}
/* 消化率 */
.str-result-01 .col4 {
  width: 41px;
}
/* サイズ(1～15) */
.str-result-01 .col5 {
  width: 60px;
}
.str-result-01 .col5-title {
	font-size:85%;
	color: #ffffff;
}

/*--- サイズ名 ---*/
.size-link {
	color: #ffffff;
}

/*--- サイズリンクボタン幅 ---*/
.size-link-space {
	width: 60px;
	text-align: center;
}

.pad-1 {
	padding-right: 1px;
}