/*-----------------------------------------------------------------------------
	スタイル：:ta040f01.css
--------------------------------------------------------------------------------*/


/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- 区分 ---*/
.slt-kbn {
	width: 120px;
}

.str-search-01 .w-type-01 {
  width: 80px;
}
.str-search-01 .w-type-02 {
  width: 280px;
}
.str-search-01 .w-type-03 {
  width: 500px;
}


/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No */
.str-result-01 .col1 {
	position: relative;
	width: 80px;
}
/* 変更区分 */
.str-result-01 .col2 {
	width: 170px;
}
/* 部門 */
.str-result-01 .col3 {
	width: 310px;
}
/* 発注数量 */
.str-result-01 .col4 {
	width: 156px;
}
/* 配分数量 */
.str-result-01 .col5 {
	width: 156px;
}
/* 原価金額 */
.str-result-01 .col6 {
	width: 156px;
}
/* 決済日 */
.str-result-01 .col7 {
	width: 158px;
}
