/*-----------------------------------------------------------------------------
	スタイル：:ta030f01.css
--------------------------------------------------------------------------------*/


/*--------------------------------------------------------- 
	検索条件領域
--------------------------------------------------------- */
/*--- ドロップダウンリスト_区分 ---*/
.ddl-kubun {
	width: 100px;
}

/*--- ドロップダウンリスト_状態 ---*/
.ddl-jyoutai {
	width: 100px;
}

.str-search-01 .w-type-01 {
  width: 90px;
}
.str-search-01 .w-type-02 {
  width: 205px;
}
.str-search-01 .w-type-03 {
  width: 280px;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  position: relative;
  width: 80px;
}
/* 区分 */
.str-result-01 .col2 {
  width: 186px;
}
/* 状態 */
.str-result-01 .col3 {
  width: 185px;
}
/* 部門 */
.str-result-01 .col4 {
  width: 371px;
}
/* 数量 */
.str-result-01 .col5 {
  width: 185px;
}
/* 金額 */
.str-result-01 .col6 {
  width: 185px;
}
