/*-----------------------------------------------------------------------------
	スタイル：:ta030f02.css
--------------------------------------------------------------------------------*/

/*--------------------------------------------------------- 
	検索条件領域					明細画面
--------------------------------------------------------- */
.str-search-02 .w-type-01 {
  width: 100px;
}
.str-search-02 .w-type-02 {
  width: 110px;
}
.str-search-02 .w-type-03 {
  width: 110px;
}
.str-search-02 .w-type-04 {
  width: 210px;
}
.str-search-02 .w-type-05 {
  width: 140px;
}



/*--------------------------------------------------------- 
	一覧領域			明細画面
--------------------------------------------------------- */
/*--- No ---*/
.str-result-01 .col1 {
	position: relative;
	width: 31px;
}

/*--- 区分/状態/部門 ---*/
.str-result-01 .col2 {
	width: 170px;
}
/*--- 区分/状態/部門 ---*/
.str-result-01 .col2-1 {
	width: 82px;
	
}
/*--- 区分/状態/部門 ---*/
.str-result-01 .col2-2 {
	width: 82px;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

/*--- 品種／ブランド ---*/
.str-result-01 .col3 {
	width: 142px;
}

/*--- 自社品番/コア ---*/
.str-result-01 .col4 {
  width: 62px;
}

/*--- メーカー品番／商品名 ---*/
.str-result-01 .col5 {
  width: 345px;
}
/*--- 色／サイズ ---*/
.str-result-01 .col6 {
  width: 70px;
}
/*--- スキャンコード ---*/
.str-result-01 .col7 {
  width: 100px;
}

/*--- 数量 ---*/
.str-result-01 .col8 {
  width: 77px;
}

/*--- 金額 ---*/
.str-result-01 .col9 {
  width: 77px;
}

/*--- 発注日/担当者---*/
.str-result-01 .col10 {
  width: 98px;
}

