<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <!-- パスワード情報 -->
  <add key="CryptKey" value="xebio"/>
  <add key="PwdUpperType" value="true"/>
  <add key="PwdMinLength" value="6"/>
  <add key="PwdMaxLength" value="8"/>
  <add key="PwdMinCharType" value="2" />
  <add key="PwdRegExp" value="^[0-9a-zA-Z]*$"/>
  <!--	運用時間の読込時間間隔（分）  -->
  <add key="Operation_Time_Init" value="5"/>
  <!--	ウインドウタイトルをリソースファイルから取得（true）  -->
  <add key="WindowtitleResource" value="false"/>
  <!--	ヘッダー部「閉じる」ボタンの表示・非表示  -->
  <add key="HeaderControlCloseBtn" value="true"/>
  <!--	稼働システムＤＢシステム（画面表示しないＤＢ名）  -->
  <add key="RunningSystemDbName1" value="MD1"/>
  <add key="RunningSystemDbName2" value="MD"/>
  <!--	基盤認証チェック実施有無  -->
  <add key="CertWsCheck" value="false"/>
  <!--	基盤ログを出力しないＩＰアドレス  -->
  <add key="BsLoginLog_1" value="192.168.66.55"/>
  <add key="BsLoginLog_2" value="192.168.65.254"/>

  <!--	簡易メニュー用情報	-->
  <!--	Hx:標題　Sx:セッション格納ID項目  -->
  <add key="EasyMenu_H1" value="ソリューションＩＤ"/>
  <add key="EasyMenu_S1" value="SOLUTION_ID"/>
  <add key="EasyMenu_H2" value="ＵＲＬパラメータ"/>
  <add key="EasyMenu_S2" value="PARAMEATER"/>
  <add key="EasyMenu_H3" value=""/>
  <add key="EasyMenu_S3" value=""/>
  <add key="EasyMenu_H4" value=""/>
  <add key="EasyMenu_S4" value=""/>
  <add key="EasyMenu_H5" value=""/>
  <add key="EasyMenu_S5" value=""/>

  <!--PL/SQL -->
  <add key="LOG_MODE" value="63"/>

  <!--	複数帳票ダウンロード用のフォルダ	-->
  <add key ="DownloadFolderPath" value="D:\\xebio\\bo\\DL"/>

  <!-- 業務情報  -->

  <!-- ■画面制御関連■ -->
  <!-- 明細検索結果制限 -->
  <add key="TA010F01_1" value="1000" />	<!-- 補充依頼入力－一覧 -->
  <add key="TA010F02_1" value="1000" />	<!-- 補充依頼入力－明細 （新規作成）-->
  <add key="TA010F02_2" value="15" />   <!-- 補充依頼入力－明細 （修正）-->
  <add key="TA020F01_1" value="1000" />	<!-- 出荷要望－一覧 -->
  <add key="TA020F02_1" value="1000" />	<!-- 出荷要望－明細（新規作成） -->
  <add key="TA020F02_2" value="15" />   <!-- 出荷要望－明細（修正） -->
  <add key="TA030F01_1" value="1000" />	<!-- 補充依頼検索－一覧 -->
  <add key="TA030F02_1" value="1000" />	<!-- 補充依頼検索－明細 -->
  <add key="TA040F01_1" value="500" />	<!-- 補充依頼状況照会－一覧 -->
  <add key="TA040F02_1" value="1000" />	<!-- 補充依頼状況照会－明細 -->
  <add key="TA050F01_1" value="500" />	<!-- 単品レポート状況照会－一覧 -->
  <add key="TA050F02_1" value="1000" />	<!-- 単品レポート状況照会－明細 -->
  <add key="TA060F01_1" value="500" />	<!-- 出荷要望状況照会－一覧 -->
  <add key="TA060F02_1" value="1000" />	<!-- 出荷要望状況照会－明細 -->
  <add key="TA080F01_1" value="200" />	<!-- 補充・仕入稟議検索－一覧 -->
  <add key="TA080F03_1" value="500" />	<!-- 補充・仕入稟議検索－明細 -->
  <add key="TA070F01_1" value="500" />	<!-- 自動定数変更 -->
  <add key="TB010F01_1" value="500" />	<!-- 仕入入荷検索－一覧 -->
  <add key="TB010F02_1" value="20" />	<!-- 仕入入荷検索－明細 -->
  <add key="TB020F01_1" value="1000" />	<!-- SCM仕入入荷検索－一覧 -->
  <add key="TB020F02_1" value="1000" />	<!-- SCM仕入入荷検索－明細 -->
  <add key="TB030F01_1" value="500" />	<!-- 仕入入荷確定－一覧 -->
  <add key="TB030F02_1" value="20" />	<!-- 仕入入荷確定－明細 -->
  <add key="TB040F01_1" value="100" />	<!-- 仕入一括確定 -->
  <add key="TB050F01_1" value="1000" />	<!-- マニュアル仕入 -->
  <add key="TB090F01_1" value="500" />	<!-- 仕入伝票訂正－一覧 -->
  <add key="TB090F02_1" value="20" />	<!-- 仕入伝票訂正－明細 -->
  <add key="TD010F01_1" value="100" />	<!-- 返品確定－一覧 -->
  <add key="TD010F02_1" value="20" />	<!-- 返品確定－明細 -->
  <add key="TD020F01_1" value="1000" />	<!-- マニュアル返品 -->
  <add key="TD030F01_1" value="100" />	<!-- 返品検索－一覧 -->
  <add key="TD030F02_1" value="20" />	<!-- 返品検索－明細 -->
  <add key="TD040F01_1" value="1000" />	<!-- 返品実績確認 -->
  <add key="TD050F01_1" value="1000" />	<!-- 返品伝票訂正－一覧 -->
  <add key="TD050F02_1" value="1000" />	<!-- 返品伝票訂正－明細 -->
  <add key="TE010F01_1" value="1000" />	<!-- 移動出荷検索－一覧 -->
  <add key="TE010F02_1" value="1000" />	<!-- 移動出荷検索－明細 -->
  <add key="TE020F01_1" value="1000" />	<!-- 移動出荷入力（ﾏﾆｭｱﾙ） -->
  <add key="TE040F01_1" value="1000" />	<!-- 移動出荷（再入荷防止） -->
  <add key="TE050F01_1" value="1000" />	<!-- 再入荷防止登録(V) -->
  <add key="TE060F01_1" value="1000" />	<!-- 再入荷防止検索 -->
  <add key="TE070F01_1" value="500" />	<!-- 移動入荷検索－一覧 -->
  <add key="TE070F02_1" value="1000" />	<!-- 移動入荷検索－明細 -->
  <add key="TE080F01_1" value="100" />	<!-- 移動入荷一括確定－一覧 -->
  <add key="TE090F01_1" value="500" />	<!-- 移動入荷確定－一覧 -->
  <add key="TE090F02_1" value="1000" />	<!-- 移動入荷確定－明細 -->
  <add key="TE130F01_1" value="500" />	<!-- 企業間仕入照会－一覧 -->
  <add key="TE130F02_1" value="1000" />	<!-- 企業間仕入照会－明細 -->
  <add key="TF010F01_1" value="2000" />	<!-- 商品経費振替確定－一覧 -->
  <add key="TF010F02_1" value="8" />	<!-- 商品経費振替確定－明細 -->
  <add key="TF020F01_1" value="2000" />	<!-- 商品経費振替申請(V)－一覧 -->
  <add key="TF020F02_1" value="1000" />	<!-- 商品経費振替申請(V)－明細（新規） -->
  <add key="TF020F02_2" value="8" />	<!-- 商品経費振替申請(V)－明細 （修正）-->
  <add key="TF021F01_1" value="2000" />	<!-- 商品経費振替申請(X)－一覧 -->
  <add key="TF021F02_1" value="1000" />	<!-- 商品経費振替申請(X)－明細 （新規）-->
  <add key="TF021F02_2" value="8" />	<!-- 商品経費振替申請(X)－明細 （申請前修正）-->
  <add key="TF030F01_1" value="100" />	<!-- 経費未払登録(X)－一覧 -->
  <add key="TF030F02_1" value="15" />	<!-- 経費未払登録(X)－明細 -->
  <add key="TF040F01_1" value="1000" />	<!-- 小口現金登録 -->
  <add key="TF070F01_1" value="500" />	<!-- 盗難品登録－一覧 -->
  <add key="TF070F02_1" value="1000" />	<!-- 盗難品登録－明細（新規作成） -->
  <add key="TF070F02_2" value="8" />	<!-- 盗難品登録－明細（経費申請、修正） -->
  <add key="TG010F01_1" value="1500" />	<!-- プライスシール発行 -->
  <add key="TG040F01_1" value="1000" />	<!-- 商品ｽﾄｯｸ明細書発行－一覧 -->
  <add key="TG040F02_1" value="1000" />	<!-- 商品ｽﾄｯｸ明細書発行－明細（新規作成）-->
  <add key="TG040F02_2" value="100" />  <!-- 商品ｽﾄｯｸ明細書発行－明細（修正） -->
  <add key="TH010F01_1" value="1000" />	<!-- 商品マスタ検索－一覧 -->
  <add key="TH010F02_1" value="1000" />	<!-- 商品マスタ検索－メーカー品番 -->
  <add key="TH010F03_1" value="1000" />	<!-- 商品マスタ検索－明細 -->
  <add key="TH020F01_1" value="1000" />	<!-- 在庫検索－一覧 -->
  <add key="TH020F02_1" value="1000" />	<!-- 在庫検索－店舗一覧 -->
  <add key="TH020F03_1" value="1000" />	<!-- 在庫検索－エリア一覧 -->
  <add key="TH020F04_1" value="1000" />	<!-- 在庫検索－消化率 -->
  <add key="TI040F01_1" value="1000" />	<!-- ラベルプリンタ管理画面 -->
  <add key="TJ030F01_1" value="1000" />	<!-- 棚卸検索(V)－一覧 -->
  <add key="TJ030F02_1" value="1000" />	<!-- 棚卸検索(V)－明細 -->
  <add key="TJ040F01_1" value="1000" />	<!-- 棚卸検索(X)－一覧 -->
  <add key="TJ040F02_1" value="1000" />	<!-- 棚卸検索(X)－明細 -->
  <add key="TJ070F01_1" value="1000" />	<!-- 棚卸状況確認(V) -->
  <add key="TJ080F01_1" value="1000" />	<!-- 棚卸状況確認(X) -->
  <add key="TJ090F01_1" value="1000" />	<!-- 棚卸アンマッチ検索(X)－一覧 -->
  <add key="TJ090F02_1" value="1000" />	<!-- 棚卸アンマッチ検索(X)－明細 -->
  <add key="TJ100F01_1" value="1000" />	<!-- 棚卸取漏れ/欠番検索(V)－一覧 -->
  <add key="TJ110F01_1" value="1000" />	<!-- 棚卸取漏れ/欠番検索(X)－一覧 -->
  <add key="TJ120F01_1" value="1000" />	<!-- 棚卸重複検索(V)－一覧 -->
  <add key="TJ120F02_1" value="1000" />	<!-- 棚卸重複検索(V)－明細 -->
  <add key="TJ130F01_1" value="1000" />	<!-- 棚卸重複検索(X)－一覧 -->
  <add key="TJ130F02_1" value="1000" />	<!-- 棚卸重複検索(X)－明細 -->
  <add key="TJ160F01_1" value="100000" />	<!-- 棚卸チェックリスト出力(V) -->
  <add key="TJ170F01_1" value="1000" />	<!-- 棚卸ロスリスト出力－一覧 -->
  <add key="TJ170F02_1" value="1000" />	<!-- 棚卸ロスリスト出力－明細 -->
  <add key="TJ190F01_1" value="500" />	<!-- 臨時棚卸検索－一覧 -->
  <add key="TJ190F02_1" value="10000" />	<!-- 臨時棚卸検索－明細 -->
  <add key="TK010F01_1" value="1000" />	<!-- 評価損確定－一覧 -->
  <add key="TK010F02_1" value="1000" />	<!-- 評価損確定－明細 -->
  <add key="TK020F01_1" value="1000" />	<!-- 評価損処理 -->
  <add key="TK030F01_1" value="1000" />	<!-- 評価損NB一括確定－一覧 -->
  <add key="TK040F01_1" value="1000" />	<!-- ロケーション検索－一覧 -->
  <add key="TL010F01_1" value="500" />	<!-- 売変検索(V)－一覧 -->
  <add key="TL010F02_1" value="1000" />	<!-- 売変検索(V)－明細 -->
  <add key="TL020F01_1" value="1000" />	<!-- 売変検索(X)－一覧 -->
  <add key="TL020F02_1" value="1000" />	<!-- 売変検索(X)－明細 -->
  <add key="TL030F01_1" value="1000" />	<!-- 売変確定(X)－一覧 -->
  <add key="TL030F02_1" value="1000" />	<!-- 売変確定(X)－明細 -->
  <add key="TM060F01_1" value="1000" /> <!-- 担当者マスタメンテナンス－明細 -->
  <add key="TM070F01_1" value="1000" /> <!-- 緊急担当者所属店変更 -->

  <!--PLSQLから出力したファイルの格納先(FilePathManager.FILEROOTDIR に続く)-->
  <add key="PLSQL_CSV_GET" value="\\prc\\out\\" />

  <!--コード参照初期検索（true:初期検索、false:初期検索しない（デフォルト））-->
  <!--	 ex. 会社コード検索：DoInitSearch_C_copcd	全検索対応：DoInitSearch_C_All_Cod -->
  <!-- 全検索（初期検索） ：有効 -->
  <add key="DoInitSearch_C_All_Cod" value="true" />

  <!-- サブミット時に明細の共通チェックを行わないボタン(カンマ区切りで登録) -->
  <add key="Not_M1CommonCheck_Btn" value="Btnsearch,Btninsert" />

  <!-- ■API系情報■ -->
  <!-- <add key="API_URL_POS" value="http://192.168.244.70/boapi/" /> -->		<!-- API-POS URLL -->
  <add key="API_URL_POS" value="http://172.20.0.32:8087/ExternalApi/BOApi/" />	<!-- API-POS URLL【開発】 -->
  <add key="API_URL_POINT" value="http://172.20.0.65/point_FEapi/" />		<!-- API-POINT URL -->
  <add key="API_TIMEOUT" value="60000" />									<!-- API タイムアウト時間(ミリ秒) -->

  <add key="API_PROCESS_Ncr010a01" value="Guests/Check/" />					<!-- API-POS プロセス名 客数取得 -->
  <add key="API_PROCESS_Ncr050a01" value="PriceChange/Store/" />			<!-- API-POS プロセス名 売価変更 -->

  <!-- ■ラベル発行機関連■ -->
  <!-- データファイル出力先 -->
  <add key="Label_DataFile_Path" value="D:\xebio\bo\Label\DataFile"/>
  <!-- クッキー保持期間 -->
  <add key="Cookie_Expires" value="5"/>
  <!-- ラベル発行機 クッキー保持期間 -->
  <add key="Cookie_Add_Ymd" value="180.0" />


  <!-- ■夜間バッチ関連■ -->
  <!-- 夜間バッチ帳票格納パス（仮） -->
  <add key="BatchListPath" value="\\10.9.61.100\share\個人ワーク\染谷ワーク\ListData\batch\" />


  <!-- ■担当者マスタメンテ用■ -->
  <!-- 初期登録 ログインユーザーパスワード -->
  <add key="LoginUserPassword" value="c+w1/plUvrUe6uqfzQdjhw==" />


</appSettings>
