/*-----------------------------------------------------------------------------
	スタイル：:tm030f01.css
--------------------------------------------------------------------------------*/
/*--------------------------------------------------------- 
	ヘッダ領域（base.cssを上書き）
--------------------------------------------------------- */
#menu-btn {
	display: none;
}
#header .inner {
	width: 1115px;
}
.inner .tenpo-keitai {
	display: none;
}
.inner .admin-name {
	display: none;
}
.inner .time {
	display: none;
}

/*--------------------------------------------------------- 
	一覧領域
--------------------------------------------------------- */
/* No. */
.str-result-01 .col1 {
  width: 30px;
}
/* メッセージ */
.str-result-01 .col2 {
  width: 677px;
}
/* 帳票名 */
.str-result-01 .col3 {
  width: 500px;
}
